@tailwind base;
@tailwind components;
@tailwind utilities;

.trapezoid1 {
	border-bottom: 70px solid #CB1DCD;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 350px;
}
.trapezoid2 {
	border-bottom: 70px solid #E455AE;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 700px;
	opacity: 97%;
}

.custom-border1 {
	@apply border-[#9370DB];
}
.custom-border2 {
	@apply border-[#710000];
}
.custom-border3 {
	@apply border-[#1AC5B0]
}
.custom-border4 {
	@apply border-[#FDF500];
}